@import "./common";

.navbar {
  padding: 0;
}

.container-fluid {
  background-color: $main-background;
}

.logo {
  height: 53px;
  width: 137px;
}

.dropdown-menu {
  padding: 8px;
  background-color: $main-background;
  border: 1px solid;
  border-radius: 20px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: $dropdown-border;
}

.dropdown-item {
  &:hover {
    background: none;
  }
}

.navbar-brand {
  margin-right: 32px;
}

.navbar-nav {
  gap: 32px;
}

.social__items {
  display: flex;
  gap: 8px;
  justify-content: center;
  li {
    a {
      padding: 10px;
      background: $social-icon-background;
    }
  }
}
