$main-background: #1d1e22;
$primary: #535fe6;
$dropdown-border: linear-gradient(
  90deg,
  rgba(83, 95, 230, 1) 0%,
  rgba(32, 193, 207, 0.33) 50%,
  rgba(83, 95, 230, 0.37) 100%
);
$social-icon-background: linear-gradient(
  90deg,
  rgba(83, 95, 230, 0.85) 0%,
  rgba(32, 193, 207, 0.57) 100%
);
$gray: #5e647a;
