@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "./pages/registration/style.scss";